html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav > li > a {
  display: inline-block;
}
.push-down {
  margin-top: 70px;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.top {
  margin-top: 0;
  padding-top: 0;
}
.clickable {
  cursor: pointer;
}
.loading {
  width: 40px;
  height: 40px;
}
.loading.smaller {
  height: 30px;
  width: 30px;
}
.budget-overview {
  margin-top: 40px;
}
.padding {
  padding: 0 10px;
}
.padding.margin {
  margin: 8px 0;
}
.expense {
  min-height: 20px;
}
.expense h1,
.expense h2,
.expense h3,
.expense h4,
.expense h5 {
  margin: 5px 0;
}
.expense hr {
  margin: 10px;
}
.expense .form-control {
  margin-left: 0;
}
.expense.new {
  margin-top: 20px;
}
.expense.new > * {
  margin-top: 10px;
}
.budget {
  min-height: 55px;
  margin: 0 0 10px 0;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-transition: height 0.5s ease-out;
  -moz-transition: height 0.5s ease-out;
  -ms-transition: height 0.5s ease-out;
  -o-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
}
.budget .holder > strong {
  font-size: 18px;
  line-height: 55px;
  position: relative;
}
.budget .edit {
  margin-top: 10px;
  padding: 5px;
}
.budget .holder {
  position: relative;
  border-radius: inherit;
  background: #F0FEFF;
  padding: 0 10px;
}
.budget .holder .category {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70%;
  display: inline-block;
}
.budget .holder .budget-spent {
  -webkit-transition: width 1s ease-in;
  -moz-transition: width 1s ease-in;
  -ms-transition: width 1s ease-in;
  -o-transition: width 1s ease-in;
  transition: width 1s ease-in;
  min-height: inherit;
  border-radius: inherit;
  margin-left: -10px;
  margin-right: -10px;
  position: absolute;
}
.budget .holder .budget-spent.green {
  background: #83ff83;
}
.budget .holder .budget-spent.yellow {
  background: #ffffae;
}
.budget .holder .budget-spent.red {
  background: #ff4a4a;
}
.budget .holder .budget-spent.blue {
  background: #7fd4fc;
}
.budget .expense hr {
  margin: 8px 0;
}
.budget > * {
  min-height: inherit;
  width: inherit;
}
.budget .input-group {
  padding-left: 0;
}
.budget.new .holder {
  background: white;
  position: relative;
}
.budget.new .save,
.budget.new .inputs {
  min-height: 50px;
  margin-top: 10px;
}
.spacer {
  margin-bottom: 40px;
}
button.mobile-delete.visible-sm.visible-xs {
  display: inline-block !important;
}
div.expenses-hold {
  padding-left: 0;
  padding-right: 0;
}
