<div class="hidden-sm hidden-xs">
	<div class="col-sm-offset-2 col-sm-3">
		<button ng-click="show = 'budgets'" class="btn btn-default btn-lg" ng-class="{active: show == 'budgets'}">Budgets</button>
	</div>
	<div class="col-sm-offset-3 col-sm-3">
		<button ng-click="show = 'expenses'" class="btn btn-default btn-lg" ng-class="{active: show == 'expenses'}">Expenses</button>
	</div>
</div>
<div class="visible-sm visible-xs">
	<button ng-click="show = 'budgets'" class="btn btn-default btn-lg pull-left" ng-class="{active: show == 'budgets'}">Budgets</button>
	<button ng-click="show = 'expenses'" class="btn btn-default btn-lg pull-right" ng-class="{active: show == 'expenses'}">Expenses</button>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<h3 class="center" style="margin-top:10px;">{{now | date:'MMMM yyyy'}}</h3>
<hr>
<div ng-if="show == 'budgets'">
	<div class="col-sm-6 budgets">
		<div>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="addBudget()">+ Add Budget</button>
				<button class="btn btn-info" ng-click="addCategory()">+ Add Category</button>
			</div>
			<div class="col-sm-3" ng-if="loading">
				<img src="img/loading.gif" class="loading" />
			</div>
		</div>
		<div class="clearfix"></div>
		<div ng-if="newCategory">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="newCategory.title" placeholder="Category name" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="saveCategory()" ng-disabled="!newCategory.title">Save</button>
				<button class="btn btn-warning" ng-click="cancelCategory()">Cancel</button>
			</div>
		</div>
		<div class="budget new" ng-if="newBudget">
			<div class="holder">
				<div class="col-sm-12 inputs">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input type="number" class="form-control" ng-model="newBudget.amount" placeholder="Amount" />
						</div>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="newBudget.description" placeholder="Description" />
					</div>
					<div class="form-group">
						<select ng-options="category.title for category in (categories | budgetFilter:budgets) | orderBy:'title'" ng-model="newBudget.category" class="form-control">
							<option value="" style="display:none;">--Choose Category--</option>
						</select>
					</div>
					<div class="form-group">
						<button class="btn btn-primary" ng-click="saveBudget()" ng-disabled="!newBudget.category.title || !newBudget.amount">Save</button>
						<button class="btn btn-danger" ng-click="cancelNewBudget()">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div>
			<h3 class="top">Income: {{month.totalIncome | currency}}</h3>
			<h3 class="top">Carryover: {{incomeBefore - spentBefore | currency}}</h3>
			<h3 class="top">Budgeted: {{month.totalBudgeted | currency}}</h3>
			<h3 class="top">Remaining: {{month.totalIncome + (incomeBefore - spentBefore) - month.totalBudgeted | currency}}</h3>
			<h3 class="top">Spendable: {{month.totalIncome + (incomeBefore - spentBefore) - month.totalSpent | currency}}</h3>
		</div>
	</div>
	<div class="budgets col-sm-6">
		<div ng-repeat="budget in budgets | orderBy:'amount':true track by budget.objectId" class="budget" ng-swipe-right="editBudget(budget)" ng-swipe-left="showBudgetExpenses(budget)">
			<div class="holder">
				<div class="budget-spent" style="width:{{budget.amountSpent}}%;" ng-class="{green: budget.amountSpent < 75, yellow: budget.amountSpent >=75 && budget.amountSpent < 100, red: budget.amountSpent > 100, blue: budget.amountSpent == 100}"></div>
				<strong class="pull-left category">{{budget.category | categoryFilter:categories}}</strong>				
				<strong class="pull-right hidden-sm hidden-xs">&nbsp;<span class="glyphicon glyphicon-list clickable" title="Show Expenses" ng-click="showBudgetExpenses(budget)"></span>&nbsp;<span class="glyphicon glyphicon-cog clickable" title="Edit Budget" ng-click="editBudget(budget)"></span>&nbsp;<span title="Delete Budget" class="glyphicon glyphicon-trash clickable" ng-click="deleteBudget(budget)"></span></strong>
				<strong class="pull-right"><span class="hidden-sm hidden-xs">{{budget.amount - budget.totalSpent | currency}} of {{budget.amount | currency}}</span><span class="visible-sm visible-xs">{{budget.amount - budget.totalSpent | currency}}</span></strong>
			</div>
			<div ng-if="budget.edit" class="edit">
				<div class="form-group">
					<input type="number" ng-model="budgetCopy.amount" class="form-control" />
				</div>
				<div class="form-group">
					<input type="text" ng-model="budgetCopy.description" class="form-control" placeholder="Description" />
				</div>
				<div class="form-group">
					<button ng-click="updateBudget(budget)" class="btn btn-success">Update</button>
					<button ng-click="budget.edit = false" class="btn btn-warning">Cancel</button>
					<button ng-click="deleteBudget(budget)" class="mobile-delete btn btn-danger visible-sm visible-xs"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
			</div>
			<div ng-if="budget.showExpenses">
				<div class="form-group padding margin">
					<h4>{{budget.description}}</h4>
				</div>
				<div class="form-group padding margin">
					<button ng-click="budget.showExpenses = false" class="btn btn-warning">Close</button>
				</div>
				<div ng-repeat="expense in budget.expenses | orderBy:'date.iso':true" class="padding expense">
					<div>
						<span><strong>{{expense.amount | currency}}</strong>&nbsp;&nbsp;<span>{{expense.date.iso | date:'shortDate'}}</span></span>
					</div>
					<div>
						{{expense.description}}
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="show == 'expenses'">
	<div class="col-sm-8 expenses-hold">
		<h3>Expenses</h3>
		<div class="col-sm-12">
			<div class="form-group">
				<div class="input-group">
					<input type="text" placeholder="search" class="form-control" ng-model="search" />
					<span class="input-group-addon clickable" ng-click="search = ''"><span class="close">&times;</span></span>
				</div>
			</div>
			<div class="form-group">
				<select ng-if="month.filterByCategory" ng-options="category.title for category in categories | orderBy:'title'" ng-model="month.selectedCategory" class="form-control">
					<option value="" style="display:none;">--Select A Category--</option>
				</select>
			</div>
			<div class="form-group">
				<input type="checkbox" ng-model="month.filterByCategory" ng-change="toggleCatFilter()" /> Filter By Category
			</div>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="addExpense()">+ Add Expense</button>
			</div>
			<div class="form-group">
				<button class="btn btn-default visible-sm visible-xs" ng-class="{active: !month.showExpenses}" ng-init="month.showExpenses = true" ng-click="month.showExpenses = !month.showExpenses">Show/Hide Expenses</button>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="expense new well" ng-if="newExpense">
			<div class="form-group">
				<input type="text" ng-model="newExpense.description" class="form-control" placeholder="Description" />
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input type="number" ng-model="newExpense.amount" class="form-control" placeholder="Amount" />
				</div>
			</div>
			<div class="form-group">
				<input type="date" min="{{firstDayOfMonth(now) | date:'yyyy-MM-dd'}}" max="{{lastDayOfMonth(now) | date:'yyyy-MM-dd'}}" ng-model="newExpense.fakeDate" ng-change="fixDate(newExpense)" class="form-control" placeholder="Date" />
			</div>
			<div class="form-group">
				<select ng-options="category.title for category in categories | orderBy:'title'" ng-model="newExpense.category" class="form-control">
					<option value="" style="display:none;">--Choose Category--</option>
				</select>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" ng-disabled="!newExpense.description || !newExpense.amount || !newExpense.fakeDate || !newExpense.category.title" ng-click="saveExpense()">Save</button>
				<button class="btn btn-danger" ng-click="cancelExpense()">Cancel</button>
				<img src="img/loading.gif" ng-show="newExpense.saving" class="smaller loading" />
			</div>
		</div>
		<div class="clearfix"></div>
		<hr>
		<h3>Total Spent: {{totalExpenses((expenses | categorySearch:month.selectedCategory | objectFilter:search)) | currency}}</h3>
		<div class="expense" ng-repeat="expense in expenses | categorySearch:month.selectedCategory | objectFilter:search | orderBy:'date.iso':true track by expense.objectId" ng-swipe-right="editExpense(expense)" ng-show="month.showExpenses">
			<div class="hidden-sm hidden-xs">
				<strong class="col-sm-2">{{expense.amount | currency}}</strong>
				<span class="col-sm-4">{{expense.description}}</span>
				<span class="col-sm-6">
					<span class="col-sm-5">{{expense.date.iso | date:'shortDate'}}</span><span class="col-sm-5">{{expense.category | categoryFilter:categories}}</span>
					<span class="clickable glyphicon glyphicon-cog" ng-click="editExpense(expense)"></span>&nbsp;&nbsp;
					<span class="clickable glyphicon glyphicon-trash" ng-click="deleteExpense(expense)"></span>
				</span>
				<div class="clearfix"></div>
			</div>
			<div class="visible-sm visible-xs">
				<strong>{{expense.amount | currency}}</strong>
				<span>
					<span>{{expense.date.iso | date:'shortDate'}}</span> &nbsp;<strong class="pull-right">{{expense.category | categoryFilter:categories}}</strong><br><span>{{expense.description}}</span>
					<span class="clickable glyphicon glyphicon-trash hidden-sm hidden-xs" ng-click="deleteExpense(expense)"></span>
				</span>
				<div class="clearfix"></div>
			</div>
			<br ng-show="expense.edit">
			<div class="well" ng-show="expense.edit">
				<div class="form-group">
					<input type="text" ng-model="modifiedExpense.description" class="form-control" placeholder="Description" />
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input type="number" ng-model="modifiedExpense.amount" class="form-control" placeholder="Amount" />
					</div>
				</div>
				<div class="form-group">
					<input type="date" min="{{firstDayOfMonth(now) | date:'yyyy-MM-dd'}}" max="{{lastDayOfMonth(now) | date:'yyyy-MM-dd'}}" ng-model="modifiedExpense.fakeDate" ng-change="fixDate(modifiedExpense)" class="form-control" placeholder="Date" />
				</div>
				<div class="form-group">
					<select ng-options="category.objectId as category.title for category in categories | orderBy:'title'" ng-model="modifiedExpense.chosenCategory" class="form-control">
						<option value="" style="display:none;">--Choose Category--</option>
					</select>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" ng-click="updateExpense(expense)">Update</button>
					<button class="btn btn-warning" ng-click="cancelEditExpense(expense)">Cancel</button>
					<button class="btn btn-danger" ng-click="deleteExpense(expense)"><span class="clickable glyphicon glyphicon-trash"></span></button>
					<img src="img/loading.gif" ng-show="modifiedExpense.saving" class="smaller loading" />
				</div>
			</div>
			<hr>
		</div>
		<div ng-if="(expenses | categorySearch:month.selectedCategory | objectFilter:search).length == 0">
			<h3>No Expenses Found</h3>
		</div>
	</div>
	<div class="col-sm-4 expenses-hold"  ng-if="(expenses | categorySearch:month.selectedCategory | objectFilter:search).length != 0">
		<h3>Income <small class="pull-right" ng-click="addIncome()"><button class="btn btn-link">+ Add Income</button></small></h3>
		<div class="well" ng-if="newIncome">
			<div class="form-group">
				<input type="text" ng-model="newIncome.description" class="form-control" placeholder="Description" />
			</div>
			<div class="form-group">
				<input type="number" ng-model="newIncome.amount" class="form-control" placeholder="Amount" />
			</div>
			<div class="form-group">
				<input type="date" min="{{firstDayOfMonth(now) | date:'yyyy-MM-dd'}}" max="{{lastDayOfMonth(now) | date:'yyyy-MM-dd'}}" ng-model="newIncome.fakeDate" class="form-control" ng-change="fixDate(newIncome)" placeholder="Date" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" ng-disabled="!newIncome.description || !newIncome.amount || !newIncome.fakeDate" ng-click="saveIncome()">Save</button>
				<button class="btn btn-danger" ng-click="cancelIncome()">Cancel</button>
			</div>
		</div>
		<div>
			<div class="income" ng-repeat="income in incomes">
				<strong class="col-sm-3">{{income.amount | currency}}</strong>
				<strong class="col-sm-offset-2 col-sm-7">{{income.date.iso | date:'shortDate'}}<span ng-click="deleteIncome(income)" class="close">&times;</span></strong>
				<hr>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="spacer"></div>
	</div>
</div>