<h2 class="center">Budgets</h2>
<div class="container budget-overview">
	<div class="col-sm-4 budget-holder">
		<h3 class="center budget-title">{{lMonth | date:'MMMM yyyy'}}</h3>
		<img src="img/calendar.jpg" class="calendar clickable img-responsive" />
	</div>
	<div class="col-sm-4 budget-holder">
		<h3 class="center budget-title">{{now | date:'MMMM yyyy'}}</h3>
		<img src="img/calendar.jpg" class="calendar clickable img-responsive" />
	</div>
	<div class="col-sm-4 budget-holder">
		<h3 class="center budget-title">{{nMonth | date:'MMMM yyyy'}}</h3>
		<img src="img/calendar.jpg" class="calendar clickable img-responsive" />
	</div>
</div>