<h2 class="center">Budgets</h2>
<div class="col-sm-12 budget-overview">
	<div class="col-sm-4 budget-holder">
		<h3 class="center budget-title">{{lMonth | date:'MMMM yyyy'}}</h3>
		<a href="#/budgets/lastmonth"><img src="img/calendar.jpg" class="calendar clickable img-responsive" /></a>
	</div>
	<div class="col-sm-4 budget-holder">
		<h3 class="center budget-title">{{now | date:'MMMM yyyy'}}</h3>
		<a href="#/budgets/thismonth"><img src="img/calendar.jpg" class="calendar clickable img-responsive" /></a>
	</div>
	<div class="col-sm-4 budget-holder">
		<h3 class="center budget-title">{{nMonth | date:'MMMM yyyy'}}</h3>
		<a href="#/budgets/nextmonth"><img src="img/calendar.jpg" class="calendar clickable img-responsive" /></a>
	</div>
</div>