<h2 class="center">Budgets</h2>
<div class="col-sm-12 budget-overview">
	<div class="col-sm-4 budget-holder">
		<h3 class="center budget-title">{{lMonth | date:'MMMM yyyy'}}</h3>
		<a href="#/budgets/lastmonth"><img src="img/calendar.jpg" class="calendar clickable img-responsive" /></a>
	</div>
	<div class="col-sm-4 budget-holder">
		<h3 class="center budget-title">{{now | date:'MMMM yyyy'}}</h3>
		<a href="#/budgets/thismonth"><img src="img/calendar.jpg" class="calendar clickable img-responsive" /></a>
	</div>
	<div class="col-sm-4 budget-holder">
		<h3 class="center budget-title">{{nMonth | date:'MMMM yyyy'}}</h3>
		<a href="#/budgets/nextmonth"><img src="img/calendar.jpg" class="calendar clickable img-responsive" /></a>
	</div>
	<div class="col-sm-12">
		<h3>Choose a month...</h3>
		<div class="form-group">
			<input type="date" ng-model="model.dateString" class="form-control" placeholder="Date" />
		</div>
		<div class="form-group">
			<button class="btn btn-primary" ng-click="visitBudget()" ng-disabled="!model.dateString">Go</button>
		</div>
	</div>
	<br><br>
</div>