<!doctype html>
<html ng-app="BudgetBuddy">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>Budget Buddy</title>
        <link rel="shortcut icon" href="img/favicon.jpg" />
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="author" href="humans.txt">
        <link rel="apple-touch-icon" sizes="120x120" href="img/touch-icon-iphone-retina.jpg">
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
        <script>
        	// Init Parse for backend
        	Parse.initialize("Ilvxw1893T2VjzlrayOhvpvzryMpbzDWoPK6edxT", "K9OztHlmPA8aHsBiBUNOGTxkrzLiKKld1GG5tLT8");
        </script>
    </head>
    <body>
    	<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
    		<a class="navbar-brand" href="#/overview">Budget Buddy</a>
    		<ul class="nav navbar-nav hidden-sm hidden-xs">
    			<li ng-if="loggedIn()" ng-class="{active: path == '/budgets/lastmonth'}"><a href="#/budgets/lastmonth">{{lMonth | date:'MMMM yyyy'}}</a></li>
                <li ng-if="loggedIn()" ng-class="{active: path == '/budgets/thismonth'}"><a href="#/budgets/thismonth">{{now | date:'MMMM yyyy'}}</a></li>
                <li ng-if="loggedIn()" ng-class="{active: path == '/budgets/nextmonth'}"><a href="#/budgets/nextmonth">{{nMonth | date:'MMMM yyyy'}}</a></li>
    		</ul>
    		<ul class="nav navbar-nav navbar-right">
                <li ng-if="loggedIn()" class="visible-sm visible-xs"><a href="#/overview">Home</a><a href="" ng-click="logout()">Logout</a></li>
    			<li ng-if="loggedIn()" class="hidden-sm hidden-xs"><a href="" ng-click="logout()">Logout</a></li>
    		</ul>
    	</nav>
    	<div class="container push-down" ng-view>
    	</div>
        
        <script src="js/vendor/angular.js"></script>
        <script src="bootstrap/ui-bootstrap-custom-tpls-0.7.0.js"></script>
        <script src="bootstrap/ui-bootstrap-custom-0.7.0.js"></script>
        <script src="js/vendor/angular-resource.js"></script>
        <script src="js/vendor/angular-route.js"></script>
        <script src="js/vendor/angular-touch.js"></script>
        <script src="js/main.js"></script>

        <!-- Controllers -->
        <script src="js/controllers/login.js"></script>
        <script src="js/controllers/overview.js"></script>
        <script src="js/controllers/nav.js"></script>
        <script src="js/controllers/budget.js"></script>

        <!-- Services -->
        <script src="js/services/user.js"></script>
        <script src="js/services/datehelp.js"></script>
        <script src="js/services/quickbudget.js"></script>
        <script src="js/services/quickexpense.js"></script>
        <script src="js/services/quickincome.js"></script>
        <script src="js/services/filterhelper.js"></script>

        <!-- Resources -->
        <script src="js/services/resources/category.js"></script>
        <script src="js/services/resources/budget.js"></script>
        <script src="js/services/resources/expense.js"></script>
        <script src="js/services/resources/income.js"></script>

        <!-- Filters -->
        <script src="js/filters/category.js"></script>
        <script src="js/filters/objectFilter.js"></script>
        <script src="js/filters/budgetFilter.js"></script>
        <script src="js/filters/categorySearch.js"></script>
    </body>
</html>